* {
  padding: 0px;
margin: 0px;
}

.app {
  background-color: black;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
flex-direction: column;
}

.header {
  color: white;
  text-align: center;
padding-top: 20px;
font-size: 50px;
}

.grid {
display: flex;
justify-content: center;
padding-top: 100px;
}